app = 'video-streaming-platform-frontend'
primary_region = 'fra'

[build]
  dockerfile = './Dockerfile'
  build-target = 'static'

[deploy]
  strategy = 'rolling'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = false
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 1000
    soft_limit = 500

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
